[submodule "Vulpine/external/glm"]
	path = Vulpine/external/glm
	url = https://github.com/g-truc/glm
[submodule "Vulpine/external/glfw"]
	path = Vulpine/external/glfw
	url = https://github.com/glfw/glfw
[submodule "Vulpine/external/imgui"]
	path = Vulpine/external/imgui
	url = https://github.com/Shylexx/imgui-docking
[submodule "Vulpine/external/entt"]
	path = Vulpine/external/entt
	url = https://github.com/skypjack/entt
[submodule "Vulpine/external/VMA"]
	path = Vulpine/external/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
